@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/*  color settings */
:root {
    --yell-brown: #e6e6dd;
    --yellow-dark: #313129;
    --light-blue: #d0dce9;
    --light-medium-blue: #105196;
}
/*  End color settings */

/* Header settings */
header {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: var(--yell-brown);
    overflow: hidden;
    border-bottom: 2px solid #000;
    z-index: 10;
}

/* .header__img {
    width: 5rem;
} */

.header__img img {
    display: block;
    width: 7rem;
}

.header__link {
    text-decoration: none;
    color: #000;
    font-size: .9rem;
    font-family: "Anton", sans-serif;
    background-color: #fff;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 2px solid #000;
}
/* End Header settings */

body{
	/* font-family: "Anton", sans-serif; */
    font-family: "Helvetica Neue", Helvetica, sans-serif;
	padding: 0;
	margin: 0;
    background: rgb(0,112,255);
    background: -moz-linear-gradient(270deg, rgba(0,112,255,1) 0%, rgba(25,68,93,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(0,112,255,1) 0%, rgba(25,68,93,1) 100%);
    background: linear-gradient(270deg, rgba(0,112,255,1) 0%, rgba(25,68,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0070ff",endColorstr="#19445d",GradientType=1);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
}
.hero{
	display: flex;
	max-width: 100%;
	height: 100vh;
}
.hero .hero__container{
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.hero .hero__container .box{
	flex-basis: 50%;
	color: #fff;
    display: flex;
    flex-direction: column;
    gap: 3rem;
	text-align: left;
	align-self: center;
}
.hero .hero__container .box span{
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 300;
	
}
.hero .hero__container .box h1{
    font-family: "Anton", sans-serif;
    font-weight: 800;
    font-style: normal;
	font-size: 5rem;
}

.hero .hero__container .box p{
	font-size: 1.5rem;
}

.hero .hero__container .box .btn1{
	border: solid 2px;
    font-weight: 600;
    font-style: normal;
	border-radius: 20px;
    display: block;
	width: 100%;
    max-width: 20rem;
    padding: .7rem .5rem;
    background: rgb(230,230,221);
    background: -moz-linear-gradient(270deg, rgba(230,230,221,1) 0%, rgba(92,131,196,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(230,230,221,1) 0%, rgba(92,131,196,1) 100%);
    background: linear-gradient(270deg, rgba(230,230,221,1) 0%, rgba(92,131,196,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6e6dd",endColorstr="#5c83c4",GradientType=1);
	text-align: center;
	text-decoration: none;
	color: #000;
}

/* Propuestas settings */
.propuestas {
    /* height: 100vh; */
    width: 100%;
    background-color: var(--yell-brown);
    padding: 7rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
}

.propuestas__title {
    margin: unset;
    font-family: "Anton", sans-serif;
    font-weight: 800;
}

.main__intro {
    display: flex;
    justify-content: center;
    max-width: 80rem;
    height: 100%;
    align-items: center;
    align-self: center;
}
.main__container {
    display: flex;
}
.main__img {
    width: auto;
    height: 100%;
}
.main__intro .main__text{
    font-weight: 600;
    width: 40%;
    padding: 0 2rem;
}
.main__intro .main__text .main__paragraph {
    margin-top: 1rem;
}

.propuestas__list .acord__btn{
    font-family: "Anton", sans-serif;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 2rem 0;
    background-color: var(--light-blue);
    font-weight: 800;
    border: none;
    border-bottom: 2px solid #000;
    text-decoration: none;
    color: #000;
    text-align: center;
    letter-spacing: .2rem;
    transition: .5s;
}
.propuestas__list .acord__btn:hover {
    background-color: var(--light-medium-blue);
    color: #fff;
}

.propuestas__list .acord__btn:after {
    content: '\002795'; /* Unicode character for "plus" sign (+) */
    position: absolute;
    z-index: 0;
    font-size: 13px;
    color: #777;
}

.propuestas__list .acord__btn.active {
    background: #fff;
}
.propuestas__list .acord__btn.active::after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.highlight {
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}

.propuesta__desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.propuesta__ul {
    list-style: unset;
    margin-left: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}
/* End propuestas settings */

/* Footer settings */
footer {
    padding: 1rem;
    font-family: "Anton", sans-serif;
    color: #fff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__paragraph {
    text-align: center;
}

.footer__link {
    display: block;
    text-decoration: none;
    border-radius: .5rem;
    padding: 1rem;
    border: 2px solid #fff;
    color: #fff;
    background: #000;
}
/* End footer settings */
/* Accordion settings */
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    padding: 2rem 4rem;
}
/* End Accordion settings */

/* media settings */
@media (max-width: 768px) {
    .main__intro {
        flex-direction: column;
    }

    .main__intro .main__text {
        width: unset;
    }
}
/* end media settings */
